.App {
  text-align: center;
}

.title {
    text-decoration: underline;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    margin: 20px;
    padding: 5px;
    background-color: violet;
    border: 3px solid red;
    border-radius: 10px;
}

button {
    width: 150px;
    background-color: salmon;
    border: 1px solid red;
    border-radius: 5px;
}

button:hover {
    font-weight: bold;
    background-color: lightgreen;
    border: 1px solid green;
}
